html,
body {
  min-width: 1100px;
}
@media screen and (max-width: 770px) {
  html,
  body {
    min-width: 0;
  }
}

main {
  margin-bottom: 250px;
  margin-top: 240px;
}
@media screen and (max-width: 770px) {
  main {
    margin-bottom: 150px;
    margin-top: 120px;
  }
}

article {
  max-width: 1366px;
  padding: 0 180px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  margin: 240px auto 0;
}
article h2.title {
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0.36em;
  line-height: 1.6;
  font-weight: bold;
  position: absolute;
  left: 180px;
  top: 0;
  padding-left: 50px;
}
@media screen and (max-width: 770px) {
  article h2.title {
    font-size: 1.3;
    letter-spacing: 0.32;
    line-height: 1.5;
    font-weight: bold;
  }
}
article h2.title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 1px;
  margin-bottom: 1px;
  margin-right: 10px;
  background-color: #98eecc;
  display: inline-block;
  vertical-align: middle;
  transition: 1s;
  transition-delay: 0.3s;
}
article h2.title.on::after {
  width: 35px;
}

@media screen and (min-width: 1400px) {
  article {
    max-width: 100%;
    padding: 0 180px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    margin: 240px auto 0;
  }
}
@media screen and (max-width: 770px) {
  article {
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    margin: 200px auto 0;
  }
  article h2.title {
    font-size: 1.4rem;
    letter-spacing: 0.36em;
    line-height: 1.6;
    font-weight: bold;
    position: absolute;
    left: 0px;
  }
}
@media screen and (max-width: 770px) and (max-width: 770px) {
  article h2.title {
    font-size: 1.3;
    letter-spacing: 0.32;
    line-height: 1.5;
    font-weight: bold;
  }
}

@media screen and (max-width: 640px) {
  article {
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    margin: 150px auto 0;
  }
}
.hair {
  text-align: center;
}
.hair .hair_list {
  margin: 0 auto;
  padding-top: 150px;
  width: 100%;
}
.hair .hair_list ul {
  padding-left: 90px;
  margin: 0 auto;
  width: 900px;
}
.hair .hair_list ul li {
  width: 292px;
  height: 292px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 10px;
  margin-bottom: 90px;
  position: relative;
}
.hair .hair_list ul li img {
  max-width: 100%;
  max-height: 100%;
  transform: translate(0%, -50%);
  position: absolute;
  left: 0;
  top: 50%;
}
.hair .hair_list a {
  font-weight: 800;
  letter-spacing: 0.33em;
  font-size: 1.2rem;
  margin-left: 90px;
}
.hair .hair_list a i {
  margin-top: -3px;
  vertical-align: middle;
  font-size: 23px;
  font-weight: 400;
  color: #98eecc;
}
@media screen and (min-width: 1400px) {
  .hair {
    text-align: center;
  }
  .hair .hair_list {
    margin: 0 auto;
    padding-top: 150px;
    width: 100%;
  }
  .hair .hair_list ul {
    padding-left: 90px;
    margin: 0 auto;
    width: 100%;
    min-width: 1060px;
    max-width: 1350px;
  }
  .hair .hair_list ul li {
    width: 350px;
    height: 350px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 90px;
    position: relative;
  }
  .hair .hair_list ul li img {
    transform: translate(0%, -50%);
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
  }
  .hair .hair_list a {
    font-weight: 800;
    letter-spacing: 0.33em;
    font-size: 1.2rem;
  }
  .hair .hair_list a i {
    margin-top: -3px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 400;
    color: #98eecc;
  }
}
@media screen and (max-width: 770px) {
  .hair .hair_list {
    margin: 0 auto;
    padding-top: 150px;
    width: 100%;
    padding-left: 0px;
  }
  .hair .hair_list ul {
    margin: 0 auto;
    width: 100%;
    padding-left: 0px;
  }
  .hair .hair_list ul li {
    width: 216px;
    height: 236px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 50px;
  }
  .hair .hair_list ul li img {
    max-width: 100%;
    max-height: 100%;
  }
  .hair .hair_list a {
    font-weight: 800;
    letter-spacing: 0.33em;
    font-size: 1.2rem;
    margin-left: 0;
  }
  .hair .hair_list a i {
    margin-top: -3px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 400;
    color: #98eecc;
  }
}
@media screen and (max-width: 640px) {
  .hair .hair_list {
    margin: 0 auto;
    padding-top: 80px;
    width: 100%;
  }
  .hair .hair_list ul {
    margin: 0 auto 60px;
    width: 100%;
    text-align: left;
  }
  .hair .hair_list ul li {
    width: calc(50% - 4px);
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 15px;
    margin-bottom: 0px;
  }
  .hair .hair_list ul li:nth-child(9n) {
    display: none;
  }
  .hair .hair_list ul li img {
    position: inherit;
    transform: translate(0, 0);
    max-width: 100%;
    max-height: 100%;
  }
  .hair .hair_list a {
    font-weight: 800;
    letter-spacing: 0.33em;
    font-size: 1.2rem;
  }
  .hair .hair_list a i {
    margin-top: -3px;
    vertical-align: middle;
    font-size: 23px;
    font-weight: 400;
    color: #98eecc;
  }
}

/*# sourceMappingURL=hair.css.map */
